* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: rgb(63, 62, 62);
    
  }
  
  nav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  a {  
    color:  white;
    margin-left: 15px;
    text-decoration: none;
  }

  header {
    padding: 45px 15px;
  }

  section {
    padding: 80px 15px;
    padding-top: 20px;
    color: white;
    min-height: 200px;
    background-color: #444;
  }

  form {
    text-align: left;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
  }
  
  input {
    margin-bottom: 5px;
    padding-left: 5px;
   /*height: 30px;*/
    width: 100%;
  }

  label {
    display: block;
  }

  button {
      margin-top: 10px;
      height: 20px;
  }

  .search-result, .delete-vehicle {
    background-color: #aaa;
    color: #444;
}